.dart_tool/
.git/
.idea/
build/
coverage/
*.iml

data/*
!data/.gitkeep
!data/lava/
data/lava/*
!data/lava/.gitkeep
!data/lava/application.example.yml
!data/sounds/
data/sounds/*
!data/sounds/.gitkeep

data/lava/Lavalink.jar
data/lava/application.yml
data/lava/lavalink.pid
